.testimonial-card {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;

  border-radius: 8px;
  border: 2px solid #eee;
  transition: all 0.3s;
  background-image: url(/imgs/testimonial-bg.webp);
  padding: 14.2rem 16.6rem;
}

.testimonial-card__img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.stars-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  list-style: none;
}

.star-icon {
  color: #fdb749;
  font-size: 1.8rem;
}

.testimonial-card__img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial-card__text {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-card__text--description {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
}

.testimonial-card__text .space-between {
  margin: 0;
}

.testimonial-card__text--name {
  font-weight: 600;
  font-size: 2.4rem;
}

.testimonial-card__text--job,
.review {
  font-size: 1.6rem;
  font-weight: 500;
  color: #eeeeeec4;
}

.testimonial-btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.testimonial-btns .video-btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 3px rgb(195, 195, 195);
  color: #fff;
  transition: all 0.3s;
}

.testimonial-btns .video-btn:hover {
  background-color: #fff;
  color: #333;
}
